.header{
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    background-color: var(--navigation-background-color);
    border: 3.5px solid var(--brand-color);
    border-style: solid none none none;  
}
.header h1{
    color: white;
}